html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
vertical-align: baseline;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
line-height: 150%;
}

body, h1, h2, h3, h4, h5, h6, h7 {
font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: normal;
}
h1, h2, h3, h4, h5, h6, h7, .btn {
font-weight: bold;
}
body {
background-color: #e7f3f6;
padding-top: 50px;
color: #788083;
background-image: url('../img/raster.png');
padding-bottom: 30px;
box-shadow: inset 0px 0px 500px #e7f3f6;
}
a {
color: #33a0d3;
}
.navbar-default {
background: rgba(255,255,255,0.95);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
text-transform: uppercase;
font-weight: bold;
}
.navbar-default .navbar-brand {
text-transform: uppercase;
font-weight: bold;
color: #33a0d3;
font-size: 16px;
padding-top: 18px;
padding-bottom: 0px;
margin-right: 15px;
}
.btn {
border:1px solid #b7c3c4;
background-image: -moz-linear-gradient( 90deg, #d8d8d0 0%, #e7e7e2 100%);
background-image: -webkit-linear-gradient( 90deg, #d8d8d0 0%, #e7e7e2 100%);
background-image: -ms-linear-gradient( 90deg, #d8d8d0 0%, #e7e7e2 100%);
color: #83837a;
font-weight: bold;
text-transform: uppercase;
text-shadow: 0px 1px 0px white;
border-radius: 4px;
box-shadow: inset 0px 1px 0px white;
padding: 10px 13px 7px;
}
.btn:hover {
color: #575751;
}
.btn:active, .btn.active {
background-image: -moz-linear-gradient( 90deg, #e7e7e2 0%, #d8d8d0 100%);
background-image: -webkit-linear-gradient(90deg, #d7d7ce 0%, #c8c8bf 100%);
background-image: -ms-linear-gradient( 90deg, #e7e7e2 0%, #d8d8d0 100%);
box-shadow: inset 0px 2px 1px rgba(0,0,0,0.1);
text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
color: white;
}
.btn-primary, .card-top, .card-top .btn {
display: inline-block;
border: 1px solid #2e7cb4;
background-image: -moz-linear-gradient( 90deg, #2d92cd 0%, #33a0d3 100%);
background-image: -webkit-linear-gradient( 90deg, #2d92cd 0%, #33a0d3 100%);
background-image: -ms-linear-gradient( 90deg, #2d92cd 0%, #33a0d3 100%);
color: #d2ebf8;
text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
}
.btn-primary:hover, .card-top .btn:hover {
color: white;
}
.btn-primary:active, .btn-primary.active, .card-top .btn:active, .card-top .btn.active {
background-image: -moz-linear-gradient( 90deg, #2680b0 0%, #2275a5 100%);
background-image: -webkit-linear-gradient(90deg, #2680b0 0%, #2275a5 100%);
background-image: -ms-linear-gradient( 90deg, #2680b0 0%, #2275a5 100%);
border: 1px solid transparent;
border-bottom: 1px solid rgba(255,255,255,0.5);
box-shadow: none;
}
.btn-info {
display: inline-block;
border:1px solid #b0d6e8;
background-image: -moz-linear-gradient( 90deg, #cbe6f0 0%, #ddeef5 100%);
background-image: -webkit-linear-gradient( 90deg, #cbe6f0 0%, #ddeef5 100%);
background-image: -ms-linear-gradient( 90deg, #cbe6f0 0%, #ddeef5 100%);
color: #409acd;
text-shadow: 0px 1px 0px white;
box-shadow: inset 0px 1px 0px white;
}
.btn-info:hover {
color: #32759c;
}
.btn-info:active, .btn-info.active {
background-image: -moz-linear-gradient( 90deg, #ddeef5 0%, #cbe6f0 100%);
background-image: -webkit-linear-gradient( 90deg, #ddeef5 0%, #cbe6f0 100%);
background-image: -ms-linear-gradient( 90deg, #ddeef5 0%, #cbe6f0 100%);
border: 1px solid transparent;
border-bottom: 1px solid rgba(255,255,255,0.5);
box-shadow: none;
}
.btn-success {
display: inline-block;
border: 1px solid #649321;
background-image: -moz-linear-gradient( 90deg, #5fbd31 0%, #8ad34a 100%);
background-image: -webkit-linear-gradient( 90deg, #5fbd31 0%, #8ad34a 100%);
background-image: -ms-linear-gradient( 90deg, #5fbd31 0%, #8ad34a 100%);
color: #edf8d3;
text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
}
.btn-success:hover {
color: white;
}
.btn-success:active, .btn-success.active {
background-image: -moz-linear-gradient( 90deg, #8ad34a 0%, #5fbd31 100%);
background-image: -webkit-linear-gradient(90deg, #6aad2f 0%, #4a8f27 100%);
background-image: -ms-linear-gradient( 90deg, #8ad34a 0%, #5fbd31 100%);
border: 1px solid transparent;
border-bottom: 1px solid rgba(255,255,255,0.8);
box-shadow: none;
text-shadow: none;
}
.card {
border:1px solid #b7c3c4;
background: white;
border-radius: 4px;
color: #a7b3ba;
position: relative;
height: 220px;
}
.card-top {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
padding: 8px 6px;
position: absolute;
left: -1px;
right: -1px;
top: -1px;
}
.card h4 {
padding: 10px 20px;
}
.var_name {
color: #33a0d3;
}
.card-wrap {
min-height: 260px;
}
.card .btn {
padding: 7px 10px 2px;
}
.wrap {
background: #f7fafa;
padding-top: 20px;
padding-bottom: 50px;
box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
z-index: 0;
position: relative;
overflow-x: hidden;
}
.ss-icon {
vertical-align: middle;
}
.help-popover {
cursor: default;
}
.popover table, th, td {
border: 1px solid rgba(0,0,0,0.1);
padding: 6px;
text-align: right;
}
.popover {
min-width: 200px;
} 
.row-padding {
padding-top: 40px;
padding-bottom: 40px;
}
.row-padding-small {
padding-top: 10px;
padding-bottom: 10px;
}
.center {
text-align: center;
}
.intro {
font-weight: normal;
color: #6b635b;
font-size: 24px;
}
.footer ul, .footer li {
list-style-type: none;
margin: 0;
padding: 0;
}
.footer .oneline li {
list-style-type: none;
margin: 0 40px 0 0;
padding: 0;
display: inline-block;
}
.footer .oneline {
border-top: solid 1px rgba(0,0,0,0.13);
padding-top: 50px;
margin-top: -40px;
}
.box {
border: 4px solid rgba(0,0,0,0.1);
border-radius: 7px;
padding: 20px;
margin-bottom: 20px;
}
.box hr {
border-top-color: rgba(0,0,0,0.1);
}
.box-header {
border-bottom: 3px solid rgba(0,0,0,0.1);
padding: 15px 15px 10px;
margin: -20px -20px 20px;
color: rgba(0,0,0,0.5);
}
.box-footnote {
font-size: 10px;
margin-top: -14px;
padding: 0px;
}
.footer .box {
border-color: white;
background: white;
}
.footer .box-header {
border-bottom: 3px solid rgba(0,0,0,0.1);
}
.footer .box hr {
border-top-color: rgba(0,0,0,0.1);
}
.footer .box-header {
border-bottom: 3px solid rgba(0,0,0,0.1);
padding: 15px 15px 10px;
margin: -20px -20px 20px;
color: rgba(0,0,0,0.5);
}
.footer .box-footnote {
font-size: 10px;
margin-top: -14px;
padding: 0px;
}
.people-header {
padding: 15px 15px 0px;
margin: -20px -15px 0px;
color: rgba(0,0,0,0.5);
}
.box-footer {
border-top: 3px solid rgba(0,0,0,0.1);
padding: 15px 15px 10px;
margin: 20px -20px -20px;
color: rgba(0,0,0,0.5);
}
.line-double {
background-image: url('../img/line-double_2.png');
background-repeat: no-repeat;
padding-top: 13px;
height: 210px;
background-size: 100% 210px;
}
.line-double .btn {
margin-bottom: 10px;
}
.line-merge {
background-image: url('../img/line-merge_2.png');
background-repeat: repeat-x;
padding-top: 12px;
height: 210px;
background-size: 100% 210px;
}
.line-single {
background-image: url('../img/line-single.png');
background-repeat: repeat-x;
padding-top: 25px;
height: 210px;
background-position: center center;
}
.line-arrow {
background-image: url('../img/line-arrow.png');
background-repeat: no-repeat;
background-position-y: 58px;
height: 210px;
}
.intrograph {
font-size: 20px;
color: #33a0d3;
}
img {
max-width: 100%;
}
.closer {
padding: 8px 0px 0px;
display: block;
}
.closer .ss-icon {
margin-left: 10px;
margin-right: 8px;
}
.closer a{
color: rgba(0,0,0,0.2);
text-decoration: none;
}
.closer a:hover{
color: rgba(0,0,0,0.7);
text-decoration: none;
}
.delay1 {
animation-delay:1s;
-webkit-animation-delay:1s;
}
.delay2 {
animation-delay:2s;
-webkit-animation-delay:2s;
}
.blue {
color: #33a0d3;
}
.blue-bg {
background-color: #33a0d3;
}
.pricing ul {
margin: 0;
padding: 0 0 0 10px;
}
.pricing .box-footer {
border-top: 3px solid rgba(0,0,0,0.1);
background-color: #33a0d3;
padding: 14px 19px;
margin: 20px -24px -24px;
color: white;
font-size: 24px;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.press_box p {
margin-top: 20px;
margin-bottom: 20px;
}
.btn-xs {
padding: 3px 5px;
}
.compare1, .compare2,.compare3, .compare4, .compare5, .compare6 {
display: none;
}
.animation .btn {
position: relative;
height: 38px;
}
.bottom {
position: absolute;
bottom: -340px;
}
p {
font-size: 16px;
line-height: 150%;
}
#hero {
width: 100%;
padding-bottom: 30px;
}
.btn .hidden-sm, .btn .hidden-md {
display: inline-block!important;
font-weight: bold;
}
.bar-wrap {
position: relative;
height: 100px;
width: 4.7%;
float: left;
margin: 0 1%;
}
.chart-big {
width: 100%;
}
.relative {
position: relative;
}
.chart-big .bar-wrap:last-child {
margin-right: 0%;
}
.chart-big .bar	{
position: absolute;
bottom:0;
width: 100%;
background-color: #d3eaf1;
}
@keyframes barchart1 {
0%   {height:100%;}
25%  {height:100%;}
50%  {height:10%;}
75%  {height:10%;}
100% {height:100%;}
}
@keyframes barchart2 {
0%   {height:70%;}
25%  {height:80%;}
50%  {height:12%;}
75%  {height:30%;}
100% {height:70%;}
}
@keyframes barchart3 {
0%   {height:50%;}
25%  {height:60%;}
50%  {height:13%;}
75%  {height:50%;}
100% {height:50%;}
}
@keyframes barchart4 {
0%   {height:40%;}
25%  {height:50%;}
50%  {height:15%;}
75%  {height:70%;}
100% {height:40%;}
}
@keyframes barchart5 {
0%   {height:30%;}
25%  {height:40%;}
50%  {height:16%;}
75%  {height:80%;}
100% {height:30%;}
}
@keyframes barchart6 {
0%   {height:20%;}
25%  {height:30%;}
50%  {height:17%;}
75%  {height:90%;}
100% {height:20%;}
}
@keyframes barchart7 {
0%   {height:10%;}
25%  {height:25%;}
50%  {height:19%;}
75%  {height:95%;}
100% {height:10%;}
}
@keyframes barchart8 {
0%   {height:10%;}
25%  {height:20%;}
50%  {height:20%;}
75%  {height:100%;}
100% {height:10%;}
}
@keyframes barchart9 {
0%   {height:10%;}
25%  {height:19%;}
50%  {height:25%;}
75%  {height:95%;}
100% {height:10%;}
}
@keyframes barchart10 {
0%   {height:20%;}
25%  {height:17%;}
50%  {height:30%;}
75%  {height:90%;}
100% {height:20%;}
}
@keyframes barchart11 {
0%   {height:30%;}
25%  {height:16%;}
50%  {height:40%;}
75%  {height:80%;}
100% {height:30%;}
}
@keyframes barchart12 {
0%   {height:40%;}
25%  {height:15%;}
50%  {height:50%;}
75%  {height:70%;}
100% {height:40%;}
}
@keyframes barchart13 {
0%   {height:50%;}
25%  {height:13%;}
50%  {height:60%;}
75%  {height:50%;}
100% {height:50%;}
}
@keyframes barchart14 {
0%   {height:70%;}
25%  {height:12%;}
50%  {height:80%;}
75%  {height:30%;}
100% {height:70%;}
}
@keyframes barchart15 {
0%   {height:100%;}
25%  {height:10%;}
50%  {height:100%;}
75%  {height:10%;}
100% {height:100%;}
}
@-webkit-keyframes barchart1 {
0%   {height:100%;}
25%  {height:100%;}
50%  {height:10%;}
75%  {height:10%;}
100% {height:100%;}
}
@-webkit-keyframes barchart2 {
0%   {height:70%;}
25%  {height:80%;}
50%  {height:12%;}
75%  {height:30%;}
100% {height:70%;}
}
@-webkit-keyframes barchart3 {
0%   {height:50%;}
25%  {height:60%;}
50%  {height:13%;}
75%  {height:50%;}
100% {height:50%;}
}
@-webkit-keyframes barchart4 {
0%   {height:40%;}
25%  {height:50%;}
50%  {height:15%;}
75%  {height:70%;}
100% {height:40%;}
}
@-webkit-keyframes barchart5 {
0%   {height:30%;}
25%  {height:40%;}
50%  {height:16%;}
75%  {height:80%;}
100% {height:30%;}
}
@-webkit-keyframes barchart6 {
0%   {height:20%;}
25%  {height:30%;}
50%  {height:17%;}
75%  {height:90%;}
100% {height:20%;}
}
@-webkit-keyframes barchart7 {
0%   {height:10%;}
25%  {height:25%;}
50%  {height:19%;}
75%  {height:95%;}
100% {height:10%;}
}
@-webkit-keyframes barchart8 {
0%   {height:10%;}
25%  {height:20%;}
50%  {height:20%;}
75%  {height:100%;}
100% {height:10%;}
}
@-webkit-keyframes barchart9 {
0%   {height:10%;}
25%  {height:19%;}
50%  {height:25%;}
75%  {height:95%;}
100% {height:10%;}
}
@-webkit-keyframes barchart10 {
0%   {height:20%;}
25%  {height:17%;}
50%  {height:30%;}
75%  {height:90%;}
100% {height:20%;}
}
@-webkit-keyframes barchart11 {
0%   {height:30%;}
25%  {height:16%;}
50%  {height:40%;}
75%  {height:80%;}
100% {height:30%;}
}
@-webkit-keyframes barchart12 {
0%   {height:40%;}
25%  {height:15%;}
50%  {height:50%;}
75%  {height:70%;}
100% {height:40%;}
}
@-webkit-keyframes barchart13 {
0%   {height:50%;}
25%  {height:13%;}
50%  {height:60%;}
75%  {height:50%;}
100% {height:50%;}
}
@-webkit-keyframes barchart14 {
0%   {height:70%;}
25%  {height:12%;}
50%  {height:80%;}
75%  {height:30%;}
100% {height:70%;}
}
@-webkit-keyframes barchart15 {
0%   {height:100%;}
25%  {height:10%;}
50%  {height:100%;}
75%  {height:10%;}
100% {height:100%;}
}
.chart-big .bar-1 {
animation:barchart1 10s infinite;
-webkit-animation:barchart1 10s infinite;
}
.chart-big .bar-2 {
animation:barchart2 10s infinite;
-webkit-animation:barchart2 10s infinite;
}
.chart-big .bar-3 {
animation:barchart3 10s infinite;
-webkit-animation:barchart3 10s infinite;
}
.chart-big .bar-4 {
animation:barchart4 10s infinite;
-webkit-animation:barchart4 10s infinite;
}
.chart-big .bar-5 {
animation:barchart5 10s infinite;
-webkit-animation:barchart5 10s infinite;
}
.chart-big .bar-6 {
animation:barchart6 10s infinite;
-webkit-animation:barchart6 10s infinite;
}
.chart-big .bar-7 {
animation:barchart7 10s infinite;
-webkit-animation:barchart7 10s infinite;
}
.chart-big .bar-8 {
animation:barchart8 10s infinite;
-webkit-animation:barchart8 10s infinite;
}
.chart-big .bar-9 {
animation:barchart9 10s infinite;
-webkit-animation:barchart9 10s infinite;
}
.chart-big .bar-10 {
animation:barchart10 10s infinite;
-webkit-animation:barchart10 10s infinite;
}
.chart-big .bar-11 {
animation:barchart11 10s infinite;
-webkit-animation:barchart11 10s infinite;
}
.chart-big .bar-12 {
animation:barchart12 10s infinite;
-webkit-animation:barchart12 10s infinite;
}
.chart-big .bar-13 {
animation:barchart13 10s infinite;
-webkit-animation:barchart13 10s infinite;
}
.chart-big .bar-14 {
animation:barchart14 10s infinite;
-webkit-animation:barchart14 10s infinite;
}
.chart-big .bar-15 {
animation:barchart15 10s infinite;
-webkit-animation:barchart15 10s infinite;
}
.chart-male, .chart-female {
width: 100%;
height: 50px;
margin-top: 10px;
}
.chart-male .bar, .chart-female .bar {
position: absolute;
bottom:0;
width: 100%;
height: 5%;
background-color: #8fc3db;
transition: height 3s;
-webkit-transition: height 3s;
}
.chart-female .bar {
background-color: #c0d6e0;
}
.chart-male .bar-wrap, .chart-female .bar-wrap {
position: relative;
width: 4%;
height: 100%;
margin-right: 2%;
margin-left: 0%;
}
.scatterchart {
background-color: white;
border-radius: 5px;
box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
padding: 20px;
height: 240px;
background-image: url('../img/raster.png');
position: relative;
}
.scatterchart .point {
border-radius: 5px;
background-color: #9be424;
position: absolute;
height: 10px;
width: 10px;
}
.scatterchart .point1 {
bottom:10%;
left:5%;
}
.scatterchart .point2 {
bottom:16%;
left:8%;
}
.scatterchart .point3 {
bottom:11%;
left:12%;
}
.scatterchart .point4 {
bottom:21%;
left:15%;
}
.scatterchart .point5 {
bottom:28%;
left:19%;
}
.scatterchart .point6 {
bottom:38%;
left:23%;
}
.scatterchart .point7 {
bottom:29%;
left:27%;
}
.scatterchart .point8 {
bottom:45%;
left:29%;
}
.scatterchart .point9 {
bottom:50%;
left:50%;
}
.scatterchart .point10 {
bottom:55%;
left:55%;
}
.scatterchart .point11 {
bottom:60%;
left:60%;
}
.scatterchart .point12 {
bottom:65%;
left:65%;
}
.scatterchart .point13 {
bottom:70%;
left:70%;
}
.scatterchart .point14 {
bottom:75%;
left:75%;
}
.scatterchart .point15 {
bottom:80%;
left:80%;
}
.scatterchart .point16 {
bottom:85%;
left:85%;
}
.scatterchart .point17 {
bottom:90%;
left:90%;
}
.scatterchart .point18 {
bottom:78%;
left:78%;
}
.scatterchart .point19 {
bottom:20%;
left:56%;
}
.scatterchart .point20 {
bottom:91%;
left:76%;
}
@media (max-width: 991px) and (min-width: 768px) {
	.btn .hidden-sm {
	display: none!important;
	}
	.card h4 {
		font-size: 12px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.btn .hidden-md {
	display: none!important;
	}
}
@media (min-width: 768px) {
	.navbar-default {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #e7f3f6;
	color: #788083;
	background-image: url('../img/raster.png');
	}
	#hero {
	padding-top: 90px;
	padding-bottom: 0px;
	}
	.navbar-nav>li>a {
	padding: 5px 8px 3px;
	margin-top: 13px;
	margin-right: 20px;
	color: #aec4cb !important;
	}
	.navbar-default .navbar-nav>.active>a {
	color: #f0f5f6 !important;
	background-color: #aec4cb;
	border-radius: 5px;
	}
	.navbar-default .navbar-nav>.active>a:hover {
	background-color: #33a0d3;
	}
	.navbar-default .btn-group {
		border: 2px solid #aec4cb;
		border-radius: 5px;
		margin-top: 8px;
		margin-right: 0;
	}	
	.navbar-default .btn-group .btn {
		color: #aec4cb;
	}
	.navbar-default .btn {
		display: block;
		background: transparent;
		padding: 7px 10px 5px;
		box-shadow: none;
		text-shadow: none;
	}
	.navbar-default .btn a {
		color: #788083;
	}
}
.image {
position: relative;
width: 511px;
height: 448px;
margin-top: 35px;
margin-bottom: 32px;
}
.image #slider {
position: absolute;
margin-left: -30%;
top: -50px;
z-index: 50;
}
.image #slider .theslider {
margin-left: 0;
max-width: none;
background: #33a0d3;
width: 5px;
height: 510px;
display: block;
background: -moz-linear-gradient(top,  rgba(51,160,211,0) 0%, rgba(51,160,211,1) 25%, rgba(51,160,211,1) 75%, rgba(51,160,211,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,160,211,0)), color-stop(25%,rgba(51,160,211,1)), color-stop(75%,rgba(51,160,211,1)), color-stop(100%,rgba(51,160,211,0)));
background: -webkit-linear-gradient(top,  rgba(51,160,211,0) 0%,rgba(51,160,211,1) 25%,rgba(51,160,211,1) 75%,rgba(51,160,211,0) 100%);
background: -o-linear-gradient(top,  rgba(51,160,211,0) 0%,rgba(51,160,211,1) 25%,rgba(51,160,211,1) 75%,rgba(51,160,211,0) 100%);
background: -ms-linear-gradient(top,  rgba(51,160,211,0) 0%,rgba(51,160,211,1) 25%,rgba(51,160,211,1) 75%,rgba(51,160,211,0) 100%);
background: linear-gradient(to bottom,  rgba(51,160,211,0) 0%,rgba(51,160,211,1) 25%,rgba(51,160,211,1) 75%,rgba(51,160,211,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0033a0d3', endColorstr='#0033a0d3',GradientType=0 );

}
.image .back {
width: 100%;
height: 100%;
position: absolute;
left: 0;
right: auto;
overflow: hidden;
}
.image .front {
width: 332px;
height: 100%;
position: absolute;
right: 0;
left: auto;
overflow: hidden;
background: #f7fafa;
}
.image .front img {
position: absolute;
right: 0;
max-width: none;
}
@keyframes slider {
0%   {margin-left:10%;}
50%  {margin-left:90%;}
100% {margin-left:10%;}
}
@-webkit-keyframes slider {
0%   {margin-left:10%;}
50%  {margin-left:90%;}
100% {margin-left:10%;}
}
.image #slider {
animation:slider linear 10s infinite;
-webkit-animation:slider linear 10s infinite;
}
@keyframes front {
0%   {width:90%;}
50%  {width:10%;}
100% {width:90%;}
}
@-webkit-keyframes front {
0%   {width:90%;}
50%  {width:10%;}
100% {width:90%;}
}
.image .front {
animation:front linear 10s infinite;
-webkit-animation:front linear 10s infinite;
}